# Python bytecode
*.pyc
*__pycache__

# Install test files
*.egg-info

# coverage file
.coverage

# Python virtual environment
venv

# vim editor files
*.swp

# Temporary and/or hacking directories
demos

# Graph builds
*.gpkg


